* {
    margin: 0;
    box-sizing: border-box;
    color: #666;
}

/* Tăng kích thước font chữ cho header */
h1
{
    text-align: center;
    color: rgb(177, 43, 43);
}
h2
{
    text-align: center;
    color: black;
}
section {
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #240f0f;
}

li {
    float: left;
    padding: 5px;
  
}

li a,
.dropbtn {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active),
.dropdown:hover .dropbtn {
    color: white;
    background-color: #1ca717;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #666;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Landing page */

.hideable-section {
    display: none;
}

.hideable-section:first-of-type {
    display: block;
}
h1
{
    color: white;
}
p{
    list-style: none;
    font-size: 20px;
    color: black;
    text-align: center;
}
p:hover
{
    color: yellow;
}
a{
    text-decoration: none;
}
.footerr p
{
    margin-left: 20px;
    text-align:justify;
    color: white;
    font-size: small;
}
.footerr p:hover
{
    color: yellow;
}
.footerr a
{
    text-align: center;
}
.gp h3
{
    font-size: 18px;
    color: white;
}
.copyright h3
{
    color: white;
    font-size: 18px;
}
h4
{
    color: white;
}
.cgdl 
{
    background: rgb(36, 36, 25);
}
.cgdl a p
{
    color: white;
}
.cgdl a p:hover
{
    color: blue;
}
.mail p
{
    color: black;
    font-size: 15px;
    text-align: center;
}